/* ---------------------------------------------------- */
/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.9);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.9);
}

body {
    overflow-x: hidden;
}

button,
a {
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------------------------- */
/* HEADER.PHP */
.contenedorHeader {
    width: 100%;
    padding: 5px 0 5px 20px;
    background-color: rgba(43, 45, 66, 0.9);
    color: #EDF2F4;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.1s ease;
    z-index: 9999;
}

.textoHeader {
    display: flex;
    flex-direction: column;
}

.imgHeader {
    width: 70px;
    margin: 10px;
    transition-duration: 3s;
}

.imgHeader:hover {
    transition-duration: 3s;
    transform: rotate(360deg);
}

.h1Header {
    margin-left: 30px;
    margin-bottom: -5px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #EDF2F4;
}

.ulHeader,
.liHeader {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.ulHeader {
    margin-left: -10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
}

.liHeader a {
    text-decoration: none;
    color: #EDF2F4;
    opacity: 0.8;
    transition: color 1s, opacity 0.5s;
}

.liHeader a:hover {
    color: white;
    opacity: 1;
}

/* ---------------------------------------------------- */
/* INDEX.PHP */
.bodyIndex {
    margin: 0;
    padding: 0;
}

.bodyIndex .imagenCabecera {
    padding: 200px;
    background-image: url("../imgs/votacion.jpg");
}

.imagenCabecera h1 {
    margin-bottom: -30px;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: #EDF2F4;
    text-align: center;
}

.imagenCabecera h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    color: #EDF2F4;
    text-align: center;
}

.bodyIndex p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
}

.circulosExplicativos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.circulosExplicativos div {
    text-align: center;
    width: 200px;
}

.circulosExplicativos img {
    width: 200px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 100%;
    margin-top: 150px;
}

.circulosExplicativos p {
    margin: 10px 0 150px 0;
    text-align: center;
    color: #2B2D42;
    overflow: visible;
    white-space: normal;
    width: 100%;
}

.contenedorInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 150px 0;
}

.imgExplicativo {
    width: 1500px;
    height: 400px;
    margin-right: -50px;
    border: 3px solid #2B2D42;
    border-left: none;
    z-index: 99;
}

.textoExplicativo {
    padding: 50px 350px 0 350px;
    background-color: #2B2D42;
}

.textoExplicativo p {
    font-size: 20px !important;
    color: white;
}

#buttontextoExplicativo {
    background: linear-gradient(45deg, #EF233C 50%, #D80032 50%);
    background-size: 200% 200%;
    background-position: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
    transition: background-position 1s, color 1s;
    margin-left: 348px;
    display: inline-block;
}

#buttontextoExplicativo:hover {
    background-position: 0%;
    color: #EDF2F4;
}

.textoFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    max-width: 500px;
    margin: 0 auto;
}

.textoFinal h2 {
    text-align: center;
    line-height: 45px;
    font-size: 45px !important;
}

.textoFinal p {
    text-align: center;
    line-height: 20px;
    font-size: 17px !important;
}

.textoFinal h2 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #8D99AE;
}

.textoFinal p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #2B2D42;
    text-align: center;
}

#buttonFinalIndex {
    background: linear-gradient(45deg, #EF233C 50%, #D80032 50%);
    background-size: 200% 200%;
    background-position: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #EDF2F4;
    transition: background-position 1s, color 1s;
}

#buttonFinalIndex:hover {
    background-position: 0%;
    color: #EDF2F4;
}

.contenedorTexto {
    margin-left: 20px;
    padding: 10px 0 50px 0;
    background-color: #2B2D42;
}

/* ---------------------------------------------------- */
/* LOGIN.PHP */
.loginBody {
    margin: 0;
    padding: 0;
    background-image: url("../imgs/naturaleza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.containerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.iniciasesionLogin {
    background-color: rgba(43, 45, 66, 0.8);
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.iniciasesionLogin h1 {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif !important;
    font-size: 40px;
    color: #EDF2F4;
}

.logoLogin {
    width: 100px;
    filter: brightness(0) invert(1);
    transition-duration: 5s;
}

.logoLogin:hover {
    transition-duration: 5s;
    transform: rotate(360deg);
}

.datosUsuarioLogin {
    position: relative;
    margin-bottom: 20px;
}

.datosUsuarioLogin input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #8D99AE;
    background-color: transparent;
    color: #EDF2F4;
    box-sizing: border-box;
    outline: none;
    transition: border-bottom-color 0.3s ease;
}

.datosUsuarioLogin input:focus,
input:valid {
    border-bottom-color: #EDF2F4;
}

.datosUsuarioLogin label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #8D99AE;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.datosUsuarioLogin input:focus+label,
input:valid+label {
    top: -15px;
    font-size: 12px;
}

#siguienteBotonLogin {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #EF233C 50%, #D80032 50%);
    background-size: 200% 200%;
    background-position: 100%;
    border: none;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
    cursor: pointer;
    transition: background-position 1s, color 1s;
}

#siguienteBotonLogin:hover {
    background-position: 0%;
    color: white;
}

#tienescuentaBotonLogin {
    padding: 10px 20px;
    background: linear-gradient(45deg, #EDF2F4 50%, #8D99AE 50%);
    background-size: 200% 200%;
    background-position: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #EDF2F4;
    cursor: pointer;
    transition: background-position 1s, color 1s;
}

#tienescuentaBotonLogin:hover {
    background-position: 0%;
    color: #2B2D42;
}

/* ---------------------------------------------------- */
/* REGISTER.PHP */
.registerBody {
    margin: 0;
    padding: 0;
    background-image: url("../imgs/naturaleza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.containerRegister {
    margin-top: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.creacuentaRegister {
    background-color: rgba(43, 45, 66, 0.8);
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.creacuentaRegister h1 {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif !important;
    font-size: 40px;
    color: #EDF2F4;
}

.logoLogin {
    width: 100px;
    filter: brightness(0) invert(1);
    transition-duration: 5s;
}

.logoLogin:hover {
    transition-duration: 5s;
    transform: rotate(360deg);
}

.datosUsuarioRegister {
    position: relative;
    margin-bottom: 20px;
}

.datosUsuarioRegister input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #8D99AE;
    background-color: transparent;
    color: #EDF2F4;
    box-sizing: border-box;
    outline: none;
    transition: border-bottom-color 0.3s ease;
}

.datosUsuarioRegister select {
    background-color: rgba(237, 242, 244, 0.7);
    border: 1px solid #8D99AE;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: left;
    color: #2B2D42;
}

.datosUsuarioRegister select:hover {
    border-color: #2B2D42;
}

.datosUsuarioRegister input:focus,
input:valid {
    border-bottom-color: #EDF2F4;
}

.datosUsuarioRegister label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #8D99AE;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.datosUsuarioRegister input:focus+label,
input:valid+label {
    top: -15px;
    font-size: 12px;
}

#siguienteBotonRegister {
    border-radius: 10px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #EF233C 50%, #D80032 50%);
    background-size: 200% 200%;
    background-position: 100%;
    border: none;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
    cursor: pointer;
    transition: background-position 1s, color 1s;
}

#siguienteBotonRegister:hover {
    background-position: 0%;
    color: white;
}

.hidden {
    display: none;
}

.loaderRegister {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.loaderRegister img {
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    filter: brightness(1000%);
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------- */
/* ERRORES.PHP */

/* ---------------------------------------------------- */
/* ERROR404.PHP */
.bodyError404 {
    margin: 0;
    padding: 0 0 0 0;
}

.containerError404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0 200px 0;
}

.containerError404 img {
    width: 600px;
}

.containerError404 p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2B2D42;
}

#volverButton {
    background: linear-gradient(45deg, #EF233C 50%, #D80032 50%);
    background-size: 200% 200%;
    background-position: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
    transition: background-position 1s, color 1s;
    display: inline-block;
}

#volverButton:hover {
    background-position: 0%;
    color: #EDF2F4;
}

/* ---------------------------------------------------- */
/* DASHBOARD.PHP */
.bodyDashboard h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #8D99AE;
}

.bodyDashboard {
    margin: 0;
    padding: 0;
}

.bodyDashboard .imagenCabecera {
    padding: 200px;
    background-image: url("../imgs/votacion.jpg");
}

.imagenCabecera h1 {
    margin-bottom: -30px;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: #EDF2F4;
}

.imagenCabecera h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    color: #EDF2F4;
    text-align: center;
}

.bodyDashboard p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
}

.circulosDashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    align-items: center;
    justify-content: center;
    margin: 100px 0 100px 0;
}

.circulosDashboard div {
    text-align: center;
}

.circulosDashboard img {
    width: 200px;
    border: 1px solid transparent;
    border-radius: 100px;
    margin-top: 20px;
}

.circulosDashboard p {
    margin: 10px 0 20px 0;
    text-align: center;
    color: #2B2D42;
    overflow: visible;
    white-space: normal;
    width: 100%;
}

.imagenConTexto {
    position: relative;
    text-align: center;
}

.imagenConTexto img {
    width: 500px;
    border: 1px solid transparent;
    border-radius: 80px;
    margin-top: 20px;
    transition-duration: 1s;
}

.imagenConTexto p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 100px 0 0 100px;
    text-align: left !important;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #2B2D42;
    transition-duration: 1s;
}

.imagenConTexto p em {
    display: block;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 15px;
}

.imagenConTexto img:hover {
    transition-duration: 1s;
    filter: hue-rotate(200deg);
}

.imagenConTexto:hover p {
    color: #EDF2F4;
}

/* DASHBOARD.PHP: Página interna */

.paginaInterna {
    display: none;
    padding: 0;
    background-color: #ffff;
    margin-top: 20px;
}

.paginaInterna p {
    margin: 50px;
    color: #2B2D42;
}

/* ---------------------------------------------------- */
/* ERROR403.PHP*/
.bodyError403 {
    margin: 0;
    padding: 0 0 0 0;
}

.containerError403 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px 0 200px 0;
}

.containerError403 img {
    width: 600px;
}

.containerError403 p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2B2D42;
}

/* ---------------------------------------------------- */
/* CREATE_POLL.PHP */

.createPollBody {
    margin: 0;
    padding: 0;
    background-image: url("../imgs/naturaleza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.containerCreatePoll {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.createPoll {
    background-color: rgba(43, 45, 66, 0.8);
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tituloCreatePoll {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif !important;
    font-size: 40px;
    color: #EDF2F4;
}

.datosCreatePoll {
    position: relative;
    margin-bottom: 20px;
    margin-top: 31px;
}

.datosCreatePoll input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #8D99AE;
    background-color: transparent;
    color: #EDF2F4;
    box-sizing: border-box;
    outline: none;
    transition: border-bottom-color 0.3s ease;
}

#numOptions {
    top: -9px;
    position: relative;
}

.datosCreatePoll input:focus,
input:valid {
    border-bottom-color: #EDF2F4;
}

#numeroOpciones {
    position: absolute;
    left: 0;
    color: #8D99AE;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.datosCreatePoll label {
    position: absolute;
    top: -12px;
    left: 0;
    color: #8D99AE;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.datosCreatePoll .numOptions-label {
    position: absolute;
    left: 0;
    color: #8D99AE;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.datosCreatePoll input:focus+label,
input:valid+label {
    top: -15px;
    font-size: 12px;
}

.btnCreatePoll {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #EF233C 50%, #D80032 50%);
    background-size: 200% 200%;
    background-position: 100%;
    border: none;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
    cursor: pointer;
    transition: background-position 1s, color 1s;
}

.btnCreatePoll:hover {
    background-position: 0%;
    color: white;
}

/* ---------------------------------------------------- */
/* LIST_POLL.PHP */
.listPollContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 100px 0 100px 0;
}
/* Otros estilos CSS existentes */

.poll-state.not-started {
    color: rgb(255, 255, 255);
    border:solid rgb(255, 255, 255) 2px;
    background-color:orange ;
    padding: 0.25rem;
    border-radius: 9999px;
}

.poll-state.finished {
    color: rgb(255, 255, 255);
    border:solid rgb(255, 255, 255) 2px;
    background-color:red;
    padding: 0.25rem;
    border-radius: 9999px;
}

.poll-state.active {
    color: rgb(255, 255, 255);
    border:solid rgb(255, 255, 255) 2px;
    background-color: green ;
    padding: 0.25rem;
    border-radius: 9999px;
}



.question-column {
    width: 60%;
}

.state-column {
    width: 40%;
}
/* Estilos generales de la tabla */
table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th{
    text-align: center;
}
/* Estilos para las líneas entre filas */
tr {
    border-bottom: 1px solid #ddd;
}

/* Estilos específicos para las celdas de la primera columna (pregunta) */
th:first-child {
    font-weight: bold;
}
td:nth-child(2) {
    text-align: center;
}
/* Otros estilos CSS existentes */





/* ---------------------------------------------------- */
/* FOOTER.PHP */
footer {
    background-color: rgba(43, 45, 66, 1);
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #EDF2F4;
    text-align: center;
}

.footer-section1,
.footer-section2,
.footer-section3,
.footer-section {
    display: inline-block;
    position: relative;
}

.footer-section1 {
    width: 30%;
    text-align: left;
}

.footer-section2 {
    width: 30%;
    text-align: center;
}

.footer-section3 {
    width: 30%;
    text-align: right;
}

.footer-section1:not(:last-child):after,
.footer-section2:not(:last-child):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -10px;
    background-color: #EDF2F4;
}

.linea-horizontal {
    width: 100%;
    border-top: 1px solid #EDF2F4;
    margin: 30px 0 30px 0;
}

.logoimgFooter {
    width: 40px;
}

footer a {
    text-decoration: none;
    color: #EDF2F4;
    opacity: 0.8;
    transition: color 1s, opacity 0.5s;
}

footer a:hover {
    color: white;
    opacity: 1;
}
